<?xml version="1.0" encoding="$BLOG_CHARSET"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<meta http-equiv="Content-Type" content="$BLOG_MIMETYPE; charset=$BLOG_CHARSET" />

<title>$BLOG_TITLE: $NB_ArchiveTitle Archives</title>

<link rel="stylesheet" href="${BASE_URL}$BLOG_CSS" type="text/css" />
<link rel="shortcut icon" href="${BASE_URL}$BLOG_ICON" />
$NB_AtomAltLink
$NB_RSS2AltLink
$NB_RSSAltLink
</head>

<body>

<div id="banner">
	<h1><a href="${BASE_URL}$NB_INDEX" accesskey="1">$BLOG_TITLE</a></h1>
	<span class="description">$BLOG_DESCRIPTION</span>
</div>

<div id="container">
	<a id="top"></a>
	<div class="blog">
		<div id="menu">
			<a href="${BASE_URL}$NB_INDEX">Main</a><br />
		</div>
		<h2 class="pagetitle">$NB_ArchiveTitle Archives</h2>
		$NB_MetaBody
		<div class="menu">
			<a href="#top">$NB_TopPage</a><br />
			$NB_PageLinks
		</div>
	</div>
</div>

</body>
</html>

