<a href="$(BASE_URL)$NB_INDEX">Blog-Main</a><br />
<a href="http://www.linuxtaskforce.de/index.html">LTF-Index</a><br />
<a href="http://www.linuxtaskforce.de/neuigkeiten.html">Neuigkeiten</a><br />
<a href="http://www.linuxtaskforce.de/projekte.html">Projekte</a><br />
<a href="http://www.linuxtaskforce.de/howtos/faqhowto.html">FAQ's &amp; HowTo's</a><br />
<a href="http://www.linuxtaskforce.de/uebermich.html">&Uuml;ber mich</a><br />
<a href="http://www.linuxtaskforce.de/nanoblog/index.html">Tagebuch</a><br />
<!-- <a href="gedanken.html">Gedanken &amp; Ideen</a><br /> -->
<a href="http://www.linuxtaskforce.de/links.html">Links</a><br />
<a href="http://www.wikiservice.at/buecher/wiki.cgi?SvenBergner/LeseListe">Meine B&uuml;cherliste</a><br />
