/* CSS Document */

table.anoncheck_table
	{
		font-size: 12px;
		line-height:21px;
	}
	
td.anoncheck_name 
	{ 
		width: 140px;
		font-weight:bold;
		border-bottom:1px dotted #333;
		
	}
	
td.anoncheck_value
	{
		width: 330px;
		color: #000000;
		border-bottom:1px dotted #333;
	}
