	body {
		margin:0px 0px 0px 0px;
		background:#FFF;
		}
	a 		{ color: #003366; text-decoration: none; }
	a:link		{ color: #003366; text-decoration: none; }
	a:visited	{ color: #003366; text-decoration: none; }
	a:active	{ color: #999999; text-decoration: underline; }
	a:hover		{ color: #999999; text-decoration: underline; }

	h1, h2, h3 {
		margin: 0px;
		padding: 0px;
	}

	blockquote {
		background-color:#EEE;
		padding:2mm;
		border-left:5px solid #BBB;
		}

	pre {
		background:#EEE;
		padding: 2mm;
		border:1px solid #999;
		}

	#banner {
		font-family: verdana, arial, sans-serif;
		background-color:#999999;
		font-size:large;
		font-weight:normal;
		text-align:left;
  		padding:15px;
                border-top:1px dotted #999;
                border-bottom:1px dotted #999;
		line-height:120%;
		}

	#banner a,
        #banner a:link,
        #banner a:visited,
        #banner a:active,
        #banner a:hover {
		font-family: verdana, arial, sans-serif;
		font-size: large;
		color: #FFF;
		text-decoration: none;
		}

	.description {
		font-family: verdana, arial, serif;
		color:#FFF;
		font-size:small;
		font-weight:bold;
  		text-transform:lowercase;
		}

	#content {
		float: left;
		width: 72%;
		margin-right:0px;
		padding-bottom:10px;
		}

	#container {
		border:1px solid #FFF;
		}

	#links {
		float: right;
		padding-right:21px;
		padding-left:15px;
		margin-left:0px;
		margin-right:0px;
		padding-bottom:20px;
		border-left: 1px dotted #999;
		border-bottom:1px dotted #999;
		width:20%;
		}

	.blog {
		width:84%;
 		padding:15px;
		}

	.blogbody {
		font-family: verdana, arial, sans-serif;
		color:#333;
		font-size:small;
		font-weight:normal;
  		line-height:120%;
		}

	.blogbody a,
	.blogbody a:link,
	.blogbody a:visited,
	.blogbody a:active,
	.blogbody a:hover {
		font-weight: normal;
		text-decoration: underline;
	}

	.title	{
		font-family: verdana, arial, sans-serif;
		font-size: small;
  		text-transform:uppercase;
		color: #003366;
		margin-bottom:15px;
		}

	#menu, .menu {
		font-family:verdana, arial, sans-serif;
		font-size: small;
  		margin-bottom:15px;
		text-align:center;
		}

	.date	{
		font-family:verdana, arial, sans-serif; 
		font-size: small; 
		color: #666; 
		border-bottom:1px solid #999;
		margin-bottom:10px;
		font-weight:bold;
		}

	.posted	{
		font-family:verdana, arial, sans-serif; 
		font-size: x-small; 
		color: #000000; 
		margin-bottom:25px;
		}

	.calendar {
		font-family:verdana, arial, sans-serif;
		color:#003366;
		font-size:x-small;
		font-weight:normal;
  		line-height:150%;
  		padding:2px;
		text-align:left;
		}

	.calendar a,
	.calendar a:link,
	.calendar a:active,
	.calendar a:hover {
		font-weight: bold;
		text-decoration: underline;
	}

	.calendarhead {	
		font-family:verdana, arial, sans-serif;
		color:#003366;
		font-size:small;
		font-weight:bold;
  		padding:2px;
		letter-spacing: .3em;
  		text-transform:uppercase;
		text-align:center;
		border-bottom: 1px solid #999;
		}

	.calendarday {
		font-weight:bold;
		text-align:center;
	}

	.side {
		font-family:verdana, arial, sans-serif;
		color:#333;
		font-size:x-small;
		font-weight:normal;
  		line-height:150%;
  		padding:2px;
		}

	.sidetitle {
		font-family:verdana, arial, sans-serif;
		color:#003366;
		font-size:small;
		font-weight:normal;
  		padding:2px;
  		margin-top:10px;
		letter-spacing: .1em;
		border-bottom:1px dotted #999;
		text-align:center;
  		text-transform:lowercase;
		}

	.syndicate {
		font-family:verdana, arial, sans-serif;
		font-size:xx-small;
  		line-height:150%;
  		padding:2px;
  		margin-top:10px;
		text-align:center;
  		background:#EEE;
 		}

	.powered {
		font-family:verdana, arial, sans-serif;
		color:#666;
		font-size:xx-small;
		font-weight:bold;
		border-top:1px solid #CCC;
		border-bottom:1px solid #CCC;
		line-height:150%;
		text-transform:uppercase;
		padding:2px;
		margin-top:10px;
		text-align:center;
		letter-spacing: .2em;
		}


	.comments-body {
		font-family:verdana, arial, sans-serif;
		color:#666;
		font-size:small;
		font-weight:normal;
  		line-height:120%;
 		padding-bottom:10px;
  		padding-top:10px;
 		border-bottom:1px dotted #999;
		}

	.comments-post {
		font-family:verdana, arial, sans-serif;
		color:#666;
		font-size:x-small;
		font-weight:normal;
		}


	.trackback-url {
		font-family:verdana, arial, sans-serif;
		color:#666;
		font-size:small;
		font-weight:normal;
  		line-height:150%;
 		padding:5px;
 		border:1px dotted #999;
		}


	.trackback-body {
		font-family:verdana, arial, sans-serif;
		color:#666;
		font-size:small;
		font-weight:normal;
  		line-height:120%;
 		padding-bottom:10px;
  		padding-top:10px;
 		border-bottom:1px dotted #999;
		}

	.trackback-post {
		font-family:verdana, arial, sans-serif;
		color:#666;
		font-size:x-small;
		font-weight:normal;
		}


	.comments-head	{
		font-family:verdana, arial, sans-serif;
		font-size:small;
		color: #666;
		border-bottom:1px solid #999;
		margin-top:20px;
		font-weight:bold;
		}

	#banner-commentspop {
		font-family:verdana, arial, sans-serif;
		color:#FFF;
		font-size:large;
		font-weight:bold;
		border-left:1px solid #FFF;
		border-right:1px solid #FFF;
		border-top:1px solid #FFF;
  		padding-left:15px;
  		padding-right:15px;
  		padding-top:5px;
  		padding-bottom:5px;
		}

	.intro {
		font-family: verdana, arial, sans-serif;
		border-bottom:1px solid #003366;
		background:#FFF;
		color:#333;
		font-size:x-small;
		font-weight:normal;
  		line-height:140%;
		padding:10px;
		margin-bottom:45px;
		}

	.intro a,
	.intro a:link,
	.intro a:visited,
	.intro a:active,
	.intro a:hover {
		font-weight: normal;
		text-decoration: underline;
		color:#333;
		}

	.pagetitle  {
                font-family: verdana, arial, sans-serif;
                color: #666;
                text-align: center;
                font-size:medium;
                margin-bottom: 15px;
                }
